.btn-primary {
    background: #49B7C9  !important;
    color: #fff;
    border: none !important;
    border: 2px solid transparent !important;
}

.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
}

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}
