<div class="" style="background:black;width:100%" >
  <div class="menu">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
    <label class="menu-open-button" for="menu-open" >
      <span class="fa fa-cogs" title="Options" data-placement="top" data-toggle="tooltip" ></span>

      <!-- <span class="hamburger hamburger-2"></span>
      <span class="hamburger hamburger-3"></span> -->
    </label>

    <div class="menu-item" (click)="openBitacora()" >
      <i title="Logs" data-placement="top" data-toggle="tooltip" class="fa fa-book"></i>
    </div>
    <div href="" class="menu-item" (click)="openContact()" >
      <i title="Contact an Admin" data-placement="top" data-toggle="tooltip" class="fa fa-comments"></i>
    </div>
    <div href="" class="menu-item" (click)="openConfig()" >
      <i title="See Details InitInfo" data-placement="top" data-toggle="tooltip" class="fa fa-cog"></i>
    </div>


  </div>
</div>
