<section style="background-color: #52d3aa;    padding-bottom: 1%;  padding-top: 2%;   overflow: hidden;    position: relative;    color: rgba(255, 255, 255, 0.7);" >
  <div class="container" style="width: 100%;">
    <div class="row" >
        <div class="col-sm-3"><img src="/assets/images/info.gif" alt="" style="position: absolute; width: 80px;  border-radius: 60px;"></div>
        <div class="col-sm-9">
          <h3 style="color:white;"><b>{{title}}</b> </h3>
          <hr>
          <p style="background-color: rgb(82, 211, 170);border: 1px solid white;;opacity: 0.9;">{{message}}</p>


        </div>


    </div>
    <div style="text-align:right">

        <button (click)="Cancel()" type="button" name="Detail" class="btn btn-info">Cancel</button>
        <button (click)="Ok()" type="button" name="Close" class="btn btn-info">Send</button>
    </div>

</div>
</section>
