<style >

</style>
<section style="background-color: #52d3aa;    padding-bottom: 10%;  padding-top: 2%;   overflow: hidden;    position: relative;    color: rgba(255, 255, 255, 0.7);" >
  <div class="container" style="width: 100%;">
    <div class="row" >
        <div class="col-sm-3"><img src="/assets/images/error2.gif" alt="" style="position: absolute; width: 277px;"></div>
        <div class="col-sm-9">
          <h3 style="color:white;"><b>{{title}}</b> on {{section}}</h3>
          <hr>
          <p style="background-color: #d27070;opacity: 0.9;">{{message}}</p>
        </div>

    </div>
    <div style="text-align:right">

        <button (click)="openDetail()" *ngIf="jsonObj != null" type="button" name="Detail" class="btn btn-info">Detail Respose</button>
        <button (click)="  Cancel()" type="button" name="Close" class="btn btn-info">Close</button>
    </div>

</div>
</section>
